.App {
  text-align: center;
  background-color: #aa6f73;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login {
  text-align: left;
}

.Login-field {
  color: red;
  margin-bottom: 12px;
}

.Login-label {
  color: white;
  margin-right: 12px;
}

.Login-input {
  background-color: black;
}

.Login-button {
  border-color: black;
  border-style: solid;
  text-align: center;
}
