.App {
  text-align: center;
  background-color: #b3e0f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Logo-placeholder {
  font-size: 48px;
  margin: 20px;
  width: 50%;
}

.Login-and-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.About-us {
  width: 500px;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About-us-title {
  font-size: 20px;
  margin: 24px;
  font-weight: bolder;
  /* color: rgb(40, 40, 40); */
}

.About-us-text {
  font-size: 20px;
  margin: 24px;
  line-height: 1.75rem;
  /* color: rgb(40, 40, 40); */
}

.Login-and-signup-prompt {
  font-size: small;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
  text-align: center;
}

.Login {
  border-right: solid;
  border-color: rgba(34, 34, 34, 0.678);
  border-width: 0.1rem;
  text-align: left;
  margin: 20px;
  padding: 40px;
}

.Signup {
  text-align: left;
  margin: 20px;
}

.Login-and-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-field {
  color: black;
  margin-bottom: 12px;
}

.Login-label {
  margin-right: 12px;
}

.Login-input {
  /* background: white; */
}

.Login-button {
  border-color: black;
  border-style: solid;
  text-align: center;
}

.Home {
  text-align: center;
  background-color: #b3e0f2;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-options {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: right;
  background-color: #b3e0f2;
  width: 100%;
}

.Nav-bar {
  color: white;
  background-color: #f2bf5e;
  width: 100%;
  align-items: center;
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Rental-list {
  padding: 20px;
  margin-top: 20px;
}

.Rental-card {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-color: #66545e;
  border-radius: 1rem;
  background-color: white;
  color: black;
}

.Rental-info {
  padding: 20px;
  text-align: left;
}

.Rental-image {
  height: 120px;
  width: 120px;
  margin: 20px;
}

.Rental-offer {
  margin-left: auto;
  margin-right: 24px;
  width: 5rem;
}

.Profile {
  background-color: #b3e0f2;
  width: 100%;
  min-height: 100vh;
}

.Profile-details {
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Listings-and-offers {
  padding: 32px;
}

.Listings-and-offers-list {
  padding: 8px;
}

.Button {
  margin-right: 16px;
}

.Profile-image {
  border-radius: 50%;
  height: 148px;
  width: 148px;
  margin: 12px;
}

.Title-value {
  font-weight: normal;
}

.Description-value {
  font-weight: lighter;
}

.Price-field {
  font-weight: lighter;
}

.Price-value {
  font-weight: lighter;
}

.Image-Upload-Box {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: #66545e;
  border-radius: 1rem;
}

.Listing-form {
  color: #f6e0b5;
}

.Search-bar {
  border-radius: 1rem;
  height: 32px;
  font-size: 20px;
  padding: 10px;
}

.Search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 48px;
}

.Login-title {
  margin-bottom: 24px;
  font-style: italic;
  text-shadow: -2px 0 #f6e0b5, 0 2px #f6e0b5, 2px 0 #f6e0b5, 0 -2px #f6e0b5;
  color: rgb(16, 63, 165);
}

.Create-listing-popup {
  text-align: center;
  background-color: lightgray;
  min-height: 60vh;
  min-width: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: calc(10px + 2vmin);
  border-style: solid;
}

.Create-listing-heading {
  margin: 12px;
}

.Create-listing-text {
  color: black;
  font-size: 14px;
}

.Create-listing {
  margin-left: 24px;
  padding: 8px;
  border-style: solid;
  border-width: 0.1rem;
  width: 12%;
  background-color: #f2bf5e;
  border-radius: 1rem;
  text-align: center;
}

.Clicked-tab {
  padding: 8px;
  border-bottom: solid;
  border-width: 0.1rem;
}
