.App {
  text-align: center;
  background-color: #aa6f73;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Logo-placeholder {
  font-size: 48px;
  color: #f6e0b5;
  margin: 20px;
}

.Login-and-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Login-and-signup-prompt {
  font-size: small;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
  text-align: center;
}

.Login {
  border-right: solid;
  border-color: rgba(34, 34, 34, 0.678);
  border-width: 0.1rem;
  text-align: left;
  margin: 20px;
  padding: 40px;
}

.Signup {
  text-align: left;
  margin: 20px;
}

.Login-and-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-field {
  color: red;
  margin-bottom: 12px;
}

.Login-label {
  margin-right: 12px;
}

.Login-input {
  /* background: white; */
}

.Login-button {
  border-color: black;
  border-style: solid;
  text-align: center;
}

.Home {
  text-align: center;
  background-color: #aa6f73;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-options {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: right;
  background-color: #aa6f73;
  width: 100%;
}

.Nav-bar {
  color: white;
  background-color: #66545e;
  width: 100%;
  align-items: center;
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Rental-list {
  padding: 20px;
  margin-top: 20px;
}

.Rental-card {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-color: #66545e;
  border-radius: 1rem;
}

.Rental-info {
  padding: 20px;
  text-align: left;
}

.Rental-image {
  height: 120px;
  width: 120px;
  margin: 20px;
}

.Rental-offer {
  margin-left: auto;
  margin-right: 24px;
}

.Profile {
  background-color: #aa6f73;
  width: 100%;
  min-height: 100vh;
}

.Profile-details {
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Listings-and-offers {
  padding: 32px;
}

.Listings-and-offers-list {
  padding: 8px;
}

.Button {
  margin-right: 16px;
}

.Profile-image {
  height: 148px;
  margin: 12px;
}

.Title-value {
  font-weight: normal;
}

.Description-value {
  font-weight: lighter;
}

.Price-field {
  font-weight: lighter;
}

.Price-value {
  font-weight: lighter;
}

.Image-Upload-Box {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: #66545e;
  border-radius: 1rem;
}

.Listing-form {
  color: #f6e0b5;
}

.Search-bar {
  border-radius: 1rem;
  height: 32px;
  font-size: 20px;
  padding: 10px;
}

.Search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 48px;
}
